header nav li a, header .logo a{
    color: #07121b !important;
}

#hero .carousel-container {
    display: flex;
    justify-content: flex-start !important;
    align-items: flex-start !important;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

.carousel-indicators{
    display: none !important;
}

.servies-img img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
}

header nav ul{
    padding-right: 12px !important;
}

.hero{
    height: 100vh !important;
}

.location{
    width: 820px;
    height: 260px;
}

@media screen and (max-width: 480px){
    iframe{
        width: 100% !important;
    }
}

@media screen and (max-width: 768px){
    iframe{
        width: 100% !important;
    }
}

.footer-info p{
    font-family: "Open Sans" !important;
}
